@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type=checkbox] {
  display: none;
}

header .header-top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 16px;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .header-top-content__return-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 17px;
}
header .header-top-content__logo {
  display: flex;
  align-items: flex-end;
  height: 36px;
}
header .header-top-content__logo--size {
  width: 162px;
}
header .header__bottom-content {
  background: #eaeaea;
  height: 50px;
  gap: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .header__bottom-content__icon i {
  color: #353535;
  width: 12px;
  height: 16px;
}
header .header__bottom-content__text {
  color: #353535;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 287px;
  padding-top: 39px;
  background: #f6f6f6;
}
.hero .hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-content__title {
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 68px;
  width: 275px;
}
.hero .hero-content__subtitle {
  height: 46px;
  width: 315px;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 27px;
}
.hero .hero-content .btn-explore {
  width: 218px;
}

.instructions {
  height: 440px;
  padding: 48px 20px 0 20px;
}
.instructions__title {
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 26px;
}
.instructions__steps {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.instructions__steps .step {
  position: relative;
}
.instructions__steps .step__number {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background: #9356dc;
  color: white;
  font-size: 14px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  top: 27px;
}
.instructions__steps .step__content {
  background: #f6f6f6;
  width: 322px;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding-left: 33px;
  gap: 27px;
}
.instructions__steps .step__content .step__icon {
  width: 13px;
  color: #7e7e7e;
}
.instructions__steps .step__content .step__text {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.restaurants {
  padding: 54px 18px 66px 18px;
  background: #f6f6f6;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding-left: 2px;
  margin-bottom: 26px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards .card {
  background: white;
  border-radius: 15px;
  position: relative;
}
.restaurants__cards .card__image {
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards .card__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2px;
  width: 80px;
  height: 29px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99e2d0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.restaurants__cards .card__content {
  padding: 12px 12px 14px 12px;
  border-radius: 0 0 15px 15px;
  position: relative;
}
.restaurants__cards .card__content__text .title {
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
.restaurants__cards .card__content__text .subtitle {
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.restaurants__cards .card__content img {
  position: absolute;
  top: 23px;
  right: 25px;
  width: 22px;
  height: 21px;
}

footer {
  background: #353535;
  padding: 25px;
  color: white;
}
footer .footer__logo img {
  height: 18px;
  filter: invert(100%);
  margin-bottom: 16px;
}
footer .footer__links {
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
}
footer .footer__links .footer__link {
  display: flex;
  align-items: center;
}
footer .footer__links .footer__link .icon-container {
  padding-right: 10px;
}
footer .footer__links .footer__link .fa-utensils {
  font-size: 14px;
  padding: 1px;
}
footer .footer__links .footer__link .fa-handshake-simple {
  transform: rotate(-45deg);
  font-size: 12px;
  padding: 0;
}
footer .footer__links .bold-link {
  font-weight: 500;
}

.restaurant-menu {
  position: relative;
}
.restaurant-menu__img img {
  width: 100%;
  height: 275px;
  position: absolute;
  top: -220px;
  z-index: -1;
}
.restaurant-menu .menu {
  margin-top: 220px;
  top: 220px;
  background: #f6f6f6;
  border-radius: 32px 32px 0 0;
  width: 100%;
  padding: 32px 13px 40px 13px;
  z-index: 1;
}
.restaurant-menu .menu__header {
  position: relative;
}
.restaurant-menu .menu__header .title {
  font-weight: 300;
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  padding-left: 2px;
}
.restaurant-menu .menu__header label {
  position: absolute;
  right: 24px;
  top: 8px;
}
.restaurant-menu .menu__courses {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40;
}
.restaurant-menu .menu__courses__header {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;
}
.restaurant-menu .menu__courses__header .title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.restaurant-menu .menu__courses__header .divider {
  width: 40px;
  height: 3px;
  background: #99e2d0;
}
.restaurant-menu .menu__courses__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.restaurant-menu .menu__courses__list input[type=checkbox]:checked + .dish {
  padding-right: 74px;
}
.restaurant-menu .menu__courses__list input[type=checkbox]:checked + .dish .dish__check {
  display: block;
}
.restaurant-menu .menu__courses__list .dish {
  background: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  padding: 13px 15px 13px 15px;
  border-radius: 15px;
  justify-content: space-between;
  position: relative;
}
.restaurant-menu .menu__courses__list .dish__details {
  display: flex;
  justify-content: space-between;
}
.restaurant-menu .menu__courses__list .dish__details .details-text {
  white-space: nowrap;
  overflow: hidden;
}
.restaurant-menu .menu__courses__list .dish__details .details-text__title {
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .menu__courses__list .dish__details .details-text__description {
  font-weight: 300;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu .menu__courses__list .dish__details .price {
  font-weight: 700;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.restaurant-menu .menu__courses__list .dish__details .price span {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: white;
  width: 40px;
  height: 100%;
}
.restaurant-menu .menu__courses__list .dish__check {
  background: #99e2d0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 59px;
  border-radius: 0 15px 15px 0;
  display: none;
}
.restaurant-menu .menu__courses__list .dish__check .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 24px;
  right: 18px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: white;
  color: #99e2d0;
}
.restaurant-menu .menu__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-main {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

.home__header__arrow i {
  display: none;
}/*# sourceMappingURL=main.css.map */