footer {
  background: $dark-grey;
  padding: 25px;
  color: white;

  .footer__logo {
    margin-bottom: 16px;
    img {
      height: 18px;
      filter: invert(100%);
    }
  }

  .footer__links {
    @include fontProperties("regular", 16px);
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none;

    .footer__link {
      display: flex;
      align-items: center;
      width: 130px;

      .icon-container {
        padding-right: 10px;
      }

      .fa-utensils {
        font-size: 14px;
        padding: 1px;
      }

      .fa-handshake-simple {
        transform: rotate(-45deg);
        font-size: 12px;
        padding: 0;
      }
    }
    .bold-link {
      font-weight: 500;
      width: 190px;
    }
  }

  @media (min-width: $footer-responsive) {
    display: flex;
    flex-direction: row-reverse;
    padding: 63px 25px 30px 25px;
    gap: 16px;
    .footer__links {
      font-size: 14px;
      flex-direction: row;
    }

    .footer__logo {
      margin: 0;
      padding-bottom: 5px;
    }
  }
}
