.hero {
  height: 287px;
  padding-top: 39px;
  background: $ligth-grey;

  .hero-content {
    @include flex-center;
    flex-direction: column;

    &__title {
      height: 68px;
      width: 275px;

      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    &__subtitle {
      height: 46px;
      width: 315px;

      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 27px;
    }

    .btn-explore {
      width: 218px;
    }
  }
}
