.hero {
  height: 287px;
  padding-top: 39px;
  background: $light-grey;

  .hero-content {
    @include flexCenter;

    &__title {
      @include fontProperties("bold", 24px);
      text-align: center;

      height: 68px;
      width: 275px;
    }
    &__subtitle {
      height: 46px;
      width: 315px;

      @include fontProperties("light", 18px);
      text-align: center;
      margin-bottom: 27px;
    }

    .btn-explore {
      width: 218px;
    }
  }
}
