.btn-main {
  @include flexCenter;
  @include fontProperties("medium", 16px);
  color: white;
  text-align: center;
  width: 186px;
  height: 50px;

  border-radius: 25px;
  border: none;
  background: linear-gradient(
    193.33deg,
    $primary-color -11.44%,
    $btn-main-lightcolor 123.93%
  );
}

.like-btn {
  cursor: pointer;
  .icon {
    .unliked {
      display: block;
      fill: transparent;
      stroke: black;
      stroke-width: 20;

      overflow: visible;
    }

    .liked {
      display: none; 
    }
  }

  input:checked + .icon {
    .unliked {
      display: none; 
    }

    .liked {
      display: block; 
    }
  }
}

