.like-btn {
    cursor: pointer;
    .icon {
      overflow: visible;
        .unliked{
          width: 22px;
          height: 22px;
        fill: transparent;
        stroke: black;
        stroke-width: 18;
        overflow: visible;
   
      }
  
      .liked {
        width: 22px;
        height: 22px;
        overflow: visible;
        clip-path: inset(100% 0 0 0 );
        transform-origin: center bottom;
        transition: clip-path 500ms ease-in; 
      }
    }
  
    input:checked + .icon {
      .liked {
        clip-path: inset(0 0 0 0);
      }
    }
  }