@keyframes loader-body {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

body {
  overflow: hidden;
  animation: loader-body forwards;
  animation-delay: $loader-animation-duration;
}

@keyframes loader-background {
  0% {
    min-height: 100vh;
    visibility: visible;
  }
  100% {
    min-height: 0;
    visibility: hidden;
  }
}
.loader-background {
  visibility: visible;
  animation: loader-background forwards;
  animation-delay: $loader-animation-duration;
}

@keyframes after-loader {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}
body > *:not(:first-child):not(:nth-child(2)) {
  opacity: 0;
  height: 0;
  animation: after-loader forwards;
  animation-delay: 7.5s;
}
