$font-body: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
$ligth-grey: #F6F6F6;
$medium-grey: #EAEAEA;
$medium-grey-2: #7E7E7E;

$dark-grey: #353535;

$primary-color: #9356DC;
$btn-main-ligthcolor:#FF79DA;



