$tablet: 634px;
$desktop: 1100px;
$footer-responsive: 800px;
$font-by-default: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$medium-grey-2: #7e7e7e;

$light-green: #99e2d0;
$dark-green: #008766;

$dark-grey: #353535;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$btn-main-lightcolor: #ff79da;
