$tablet: 634px;
$desktop: 1100px;
$medium-size: 820px;
$font-by-default: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$medium-grey-2: #7e7e7e;

$light-green: #99e2d0;
$dark-green: #008766;

$dark-grey: #353535;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$btn-main-lightcolor: #ff79da;

// Animation

$under-bread: black;
$steack: black;
$top-bread: black;
$tomato1: black;
$tomato2: black;
$location-pin-color: black;
$location-pin-height: -90px;
$bkg-color: white;
$location-pin-size: 27px;
$bottom-bread-width: 60px;
$bottom-bread-height: 15px;

$location-pin-height: -90px;
$z-index-loader-background: 10;
$z-index-bottom-bread: 14;
$z-index-tomato-1: 13;
$z-index-tomato-2: 12;
$z-index-steak: 11;